<h1>{{title}}</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <td>{{name}}</td>
        <td>{{brand}}</td>
        <td>{{price}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
